In [2]:
str1 = "Life is too short"
str2 = str1.split() #리스트 형식으로 만드는 방법
print(str2) #리스트 ['Life', 'is', 'too', 'short']

['Life', 'is', 'too', 'short']

In [5]:
i = 10; #정수리터널 변수
f = 10.5 #실수형 리터널 변수
s = "이숭무" #문자열형 리터널 변수
l = [1,2,3,4] #리스트 변수 (리스트는 리터널X)
print(i)
print(l)

10
[1, 2, 3, 4]

In [376]:
#리스트자료형 형식
#리스트는 여러종류의 데이터를 저장할 수 있는 방식
l = [] #빈 리스트 (*꼭 기억하기)
l = [1,2,3,4,5] #정수 리스트
l = [10.5,20.5,3.8] #실수 리스트
l = ['a','b','c','d','이숭무'] #문자열 리스트
l = [10,"이숭무",10.5] #혼합형 리스트 (*가장 많이 사용하는 리스트)
l = [10,"이숭무",10.5, [1,2,3]] #리스트를 포함한 혼합형 리스트
l = [[1,2,3,4],[5,6,7]] #리스트를 포함한 리스트

In [21]:
str1 = "Life is too short"
#       01234567890123456 : index (문자열의 인덱스)
#       76543210987654321 - 
print(str1[3])
l = str1.split()
print(l) #['Life', 'is', 'too', 'short']
#             0       1      2     3     : 각각을 요소라고 함 // 요소가 가지고 있는 고유의 번호: 인덱스
#             4       3      2      1  -
print(l[1]) #is
print(l[-3]) #is
l = ['Life', 'is', 'too', 'short',10]
#각 문자열에는 인덱스가 포함된다
#      0       1      2      3     4
#                          01234
str3 = l[1]
print(str3) #요소가 문자열이라면, 출력하는 값도 문자열
i = l[4]
print(i) #4: 정수
str3 = l[3]
print(str3) #short : 문자열
#            01234
print(str3[3])
print(l[3][3])

e
['Life', 'is', 'too', 'short']
is
is
is
10
short
r
r

In [47]:
l = [1, 2, 'Life', 'is', [3,4,5], 'too', [1], 0.5, 'short', "10"]
#    0  1     2      3       4       5    6    7       8      9
#           0123
print(l[0]) # 1 정수
print(l[1]) # 2 정수

#정수+정수 : 10+20
print(l[0]+l[1]) # 3 정수

#문자열 + 문자열 : 연결 연산자
print(l[2]) # Life 문자열
print(l[3]) # is 문자열
print(l[2]+l[3])

print(l[4]) # [3, 4, 5] 리스트

#문자열 * 정수 : 반복연산자
print(l[2] * l[1]) #LifeLife

#print (l[9] + 10) 문자열과 숫자는 계산불가
print(l[9]) #문자열
print(int(l[9]) + 10) #l[9] = "10" 이므로 숫자로 바꿔주기 // 결과값 20
print(l[9] + str(10)) #숫자 10을 문자열로 바꿔준다 / 결과값 1010

#l(2)에 있는 f를 출력
print(l[2][2]) #l[2] : 'life' → l[2][2] : f

1
2
3
Life
is
Lifeis
[3, 4, 5]
LifeLife
10
20
1010
f

In [42]:
a = [1,2,3,['a','b','c']]
#    0 1 2       3
#            0    1   2
#    4 3 2     1   - #a 꺼꾸로 인덱스
#              3   2   1 - #a 안의 리스트의 거꾸로 인덱스
print(a[3])
print(a[3][1])
print(a[-1])
print(a[-1][-2])
print(a[3][-2])
print(a[-1][1])

['a', 'b', 'c']
b
['a', 'b', 'c']
b
b
b

In [54]:
a = [1, 2, 3, ['a', 'b', ['life', 'is']]]
#    0   1  2             3
#               0     1        2
#                           0       1
#                          0123    01
print(a[3]) #['a', 'b', ['life', 'is']] : 리스트
#               0     1        2
print(a[3][2]) #['life', 'is'] : 리스트
#                 0       1
print(a[3][2][0]) # life : 문자열
#                   0123 
#life의 f 출력
print(a[3][2][0][2])
#Life의 i 출력
print(a[3][2][0][1]) 

#리스트 indexing (끝)

['a', 'b', ['life', 'is']]
['life', 'is']
life
f
i

In [77]:
str1 = "Life is too short"
print(str1[0:4]) # slicing 문자열에서 원하는 부분 추출하기
print(str1[0:0+4])

#리스트에서 slicing하기
l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
#    0   1   2       3      4         5     6    7      8        9
print(l[0:4]) # [1, 2, 'Life', 'is'] : 리스트에서 원하는 만큼 출력하기 = 슬라이싱

print(l[0:0+4]) # [1, 2, 'Life', 'is']

#리스트 [1, 2] 가져오기 
print(l[0: 0+2])

#리스트 slicing의 결과값은 리스트가 된다 // 결과값 [1] 
print(l[0:1]) 

#리스트 indexing의 결과값은 요소의 자료형(문자열, 실수, 정수...)이 된다 // 결과값 1 
print(l[0]) 

# [] 빈 리스트로 갖고 오기
print(l[0:0])

print(l[4]) # 리스트 [3, 4, 5]
#                     0 1  2
print(l[4][0:2]) #[3, 4]

print(l[2]) #life 
print(l[2:2+1]) #['life']
print(l[2:2+0]) #0개 갖고와라 [] 빈 리스트
print(l[3:3]) #0개 갖고와라 [] 빈 리스트

Life
Life
[1, 2, 'Life', 'is']
[1, 2, 'Life', 'is']
[1, 2]
[1]
1
[]
[3, 4, 5]
[3, 4]
Life
['Life']
[]
[]

In [100]:
#리스트 연산자 :  + (연결 연산자), * (반복 연산자)
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print (l1+l2) #[1, 2, 3, 4, 5, 6, 7, 8]
print (l1 * 3 ) # [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4] : l1 3번 반복
print(l) #[1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
#print(l[4] + l[1]) : 리스트와 정수의 합 = 오류
print(l[4] + l[6]) # [3, 4, 5, 1] : + 연결 연산자
print(l[4] * l[1]) # 리스트 * 정수 [3, 4, 5, 3, 4, 5]

l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
#print(l[2:2+1] + l[3]) 리스트 + 문자열 : 오류
#list (l[3]) : ["is"] 리스트 + 리스트
print(l[2:2+1] + list(l[3])) 
print(l[2] + l[3]) #문자열 + 문자열
print("hello")
print(list("hello")) #['h', 'e', 'l', 'l', 'o'] : list 함수
# print(1[0] + l[4]) #정수 + 리스트 : 오류
# print(list(l[0])+l[4]) : 오류
# list() 리스트로 변환하는 함수 : 정수를 리스트로 변환할 수 없음

# 리스트에서 원하는 정수를 슬라이싱을 해서 연산을 해주면 됨
print(l[0:1]+l[4]) #결과값 [1, 3, 4, 5]
print([l[0]]+l[4]) #대괄호로 리스트로 만들어주고 연산하면 리스트 + 리스트
l4 = [1,2,3,4]
print (l4) # [1, 2, 3, 4]

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
[3, 4, 5, 1]
[3, 4, 5, 3, 4, 5]
['Life', 'i', 's']
Lifeis
hello
['h', 'e', 'l', 'l', 'o']
[1, 3, 4, 5]
[1, 3, 4, 5]
[1, 2, 3, 4]

In [121]:
str1 = "Life is too short"
result = ['Life', 'is', 'too', 'short']
#            0     1      2       3
print(str1[::2])
print(result[::2])

print(str1[::-1])
print(result[::-1])
print(str1[:])
print(result[:])
print(str1[0:3])
print(str1[:3])
print(result[0:3])
print(result[:3])

#str1 에서 ife is too short 출력하기
print(str1[1:17])
print(str1[1:])
print(str1[1:len(str1)])

# ['too', 'short'] 출력하기
print(result[2:2+2])
print(result[2:4]) #short까지 포함되어 출력하기
print(result[2:]) #번호가 끝이라면 생략할 수 있음
print(result[2:len(result)])

Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
Life is too short
['Life', 'is', 'too', 'short']
Lif
Lif
['Life', 'is', 'too']
['Life', 'is', 'too']
ife is too short
ife is too short
ife is too short
['too', 'short']
['too', 'short']
['too', 'short']
['too', 'short']

In [130]:
#replace 함수 원하는 내용으로 바꿔서 출력하기
str1 = "Life is too short"
#Life를 your leg로 변경하기
str2 = str1.replace("Life", "Your leg")
print(str2) #결과값 Your leg is too short

str3 = "Lyfe is too short"
str4 = str3.replace("Lyfe", "Life")

result = ['Lyfe', 'is', 'too', 'short']
result[0] = 'Life' #요소변경
print(result) # ['Life', 'is', 'too', 'short']

#len : 길이함수 - 리스트에도 사용할 수 있음)
print(len(str1)) #str1 = "Life is too short" 공백포함 17개 // 결과값 17
print(len(result)) # ['Life', 'is', 'too', 'short'] 리스트의 요소 4개 // 결과값 4

Your leg is too short
['Life', 'is', 'too', 'short']
17
4

In [153]:
#리스트 함수
#리스트에 요소 추가 (raw data에도 변경된 값으로 업데이트 되는 것)
#append()
l1 = ['Life', 'is']
#l1에 'too' 추가
#print(l1 + 'too') : 리스트 + 문자열 : 오류
print(l1 + ['too'])
print(l1)
l2 = l1 + ['too']
print(l2) # ['Life', 'is', 'too']
l1.append('too')
l1.append('short')
print(l1)

#print(l1.append('short')) -- raw data가 변경되는 경우에는 출력할 수 없음 #마지막 요소 추가

l1 = ['Life', 'short']
#         0       1
print(l1)
#중간에 삽입 : insert
#Life와 short 사이에 is를 추가
l1.insert(1,'is')
print(l1) # ['Life', 'is', 'short']
#too를 is와 short사이에 추가
l1.insert(2,'too')
print(l1) # ['Life', 'is', 'too', 'short']

#하나씩 말고 여러개를 한 번에 추가 = 확장
#확장 함수 = extend

l1.append([1,2,3])
print(l1) # ['Life', 'is', 'too', 'short', [1, 2, 3]] 리스트 안에 리스트가 들어가짐

#리스트 안에 요소값들이 그대로 들어가게 하기
a = [1,2,3,4]
b = [5,6,7]
#원하는 결과값 [1,2,3,4,5,6,7]
a.extend(b) #리스트 a 에다가 리스트 b의 요소들을 추가하라
print(a) #[1, 2, 3, 4, 5, 6, 7]

#추가 함수 : append, insert, extend

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 7]

In [248]:
#index를 이용해서 요소 삭제
#요소를 삭제하는 함수는 del
l2 = ['Life', 'is', 'too', 'short']
#        0      1     2         3

# is를 삭제하고 싶다. 
del(l2[1])
print(l2) # ['Life', 'too', 'short']

#short를 삭제하고 싶다. raw data는 is 삭제되었기 때문에 인덱싱에도 변화
# ['Life', 'too', 'short']
#     0      1       2 
del(l2[2])
print(l2) #['Life', 'too']

#요소를 이용해서 삭제하는 함수: remove
l2 = ['Life', 'is', 'too', 'short']
l2.remove('is')
print(l2) #['Life', 'too', 'short']
l2.remove('too')
print(l2) #['Life', 'short']

#전체 삭제 : clear
l2.clear()
print(l2) #[] 빈 리스트

### 삭제한 값을 받아오기 : pop
l2 = ['Life', 'is', 'too', 'short']
#삭제한 값을 저장할 result 변수 설정 
result = l2.remove('is')
print(result) #None // remove() 함수는 단지 리스트에서 해당 항목을 제거하는 작업이므로, 제거된 항목을 반환하지 않음
print(l2) #['Life', 'too', 'short'] 

l2 = ['Life', 'too', 'short'] 
#      0         1        2 
#pop() 함수는 리스트의 마지막 요소를 제거하고 그 값을 반환
#삭제하는 값을 저장할 result 변수 설정
result = l2.pop()
print(result) #short
print(l2) #'Life', 'too']

#중간에 있는 값을 삭제하되 중간에 있는 값을 반환받고 싶다
l2 = ['Life', 'is', 'too', 'short']
#      0       1        2      3
result = l2.pop(1)
print(result) #결과값 is
result = l2.pop(0)
print(result) #결과값 Life
print(l2) #결과값 ['too', 'short']

['Life', 'too', 'short']
['Life', 'too']
['Life', 'too', 'short']
['Life', 'short']
[]
None
['Life', 'too', 'short']
short
['Life', 'too']
is
Life
['too', 'short']

In [204]:
#확인하기

import random #난수값은 l2 리스트 안의 인덱스 값 
l2 = ['Life', 'is', 'too', 'short']
#      0       1        2      3
idx = random.randint(0,len(l2)-1) #난수 : 0, 1, 2, 3
#random.randint(0,3) 0부터 3중에 아무거나 갖고와라
print(idx)
#l2.pop(idx) #값이 랜던하게 나옴
result = l2.pop(idx)
print(result)

idx = random.randint(1,45)
print(idx)

2
too
41

In [218]:
#정렬 -- 오름차순, 내림차순
# sort() // sort(reverse=True)

l = [4,2,5,1,3] #랜던한 숫자의 배열
#오름차순
#print(l.sort()) :오류
l.sort()
print(l) #[1, 2, 3, 4, 5]

#내림차순
l = [4,2,5,1,3]
l.sort(reverse=True) #오름차순으로 정렬하고 reverse해주기 
print(l) #[5, 4, 3, 2, 1]

l = ['b','a','c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)

l = ['b','a','c', '다','나','가']
l.sort()
print(l) #영어 우선, 다음 한국어
l.sort(reverse=True)
print(l) #['다', '나', '가', 'c', 'b', 'a']
''' #문자열, 숫자 정렬 불가능 
l = ['b','a','c', '다','나','가',3,1,2] #문자열, 숫자 정렬
l.sort()
print(1)
1.sort(reverse = True)
print(1)
'''
print()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['a', 'b', 'c', '가', '나', '다']
['다', '나', '가', 'c', 'b', 'a']

In [225]:
str1 = "Life is too short"
idx = str1.find("too") #'too'의 첫번째 글자인 t의 인덱스를 찾는다
print(idx) #8
idx = str1.index("too")
print(idx)
l1 =['Life', 'is', 'too', 'short']
idx = l1.index('too') #요소의 위치
print(idx)
#idx = l1.find('too') find함수는 리스트에서 사용할 수 없다

#2025.02.22 리스트 관련 함수
### 리스트 indexing, slicing
### 리스트 추가 함수 : append, insert, extend 
### 리스트 삭제 함수 : del, remove, pop, clear
### 리스트 정렬 함수 : sort, sort(reverse=True)
### 리스트 검색 함수 : index

8
8
2

In [235]:
# 리터널: 자연수 : 정수
#      :  자연수 : 실수
#      : 자연어 (" ", '', """ """ ,''' ''')
# 리스트 : []  - 대괄호
# 튜플 : () - 소괄호

l = [1,2,3,4]
print(l) #[1, 2, 3, 4]

t = (1,2,3,4)
print(t) # (1, 2, 3, 4)

l = [] # 빈 리스트
t = () # 빈 튜플
print(t) # ()
 
print((3+5)*4) # () : 최우선연산자 (튜플과 같은 기호)
print((2)) # 결과값 2 // 튜플이 아니라 최우션연산자

#튜플과 최우선연산자를 구별하는 방법은 , (콤마) 를 사용
print((2,)) # 결과값 (2,) // 튜플
print((1,2)) # 결과값 (1, 2) // 튜플

print(1,2,3,4,5,6) # 결과물 1 2 3 4 5 6 // 집합 : set -- 소괄호도 없고, 콤마도 없는 것
print( 3 + 2,) #결과값 5 ????
print(( 3 + 2,)) #결과값 5, // 튜플
t = ( 3 + 2,)
print(t) # 결과값 (5,)

[1, 2, 3, 4]
(1, 2, 3, 4)
()
32
2
(2,)
(1, 2)
1 2 3 4 5 6
5
(5,)
(5,)

In [250]:
#어떠한 자료형이 들어갈 수 있는 튜플과 리스트 
#튜플은 리스트와 같다

t = () #빈 리스트 (*꼭 기억하기)
t = (1,2,3,4,5) #정수 튜플
t = (10.5,20.5,3.8) #실수 튜플
t = ('a','b','c','d','이숭무') #문자열 튜플
t = (10,"이숭무",10.5) #혼합형 튜플 (*가장 많이 사용하는 리스트)
t = (10,"이숭무",10.5, [1,2,3]) #리스트를 포함한 혼합형 튜플
t = (10,"이숭무",10.5, (1,2,3)) #튜플을 포함한 혼합형 튜플
t = ([1,2,3,4],[5,6,7]) #리스트를 포함한 튜플
t = ([1,2,3,4],(5,6,7)) #튜플과 리스트를 포함한 튜플

#소괄호 없이 초기화된 변수는 튜플이다 
t = 1,2,3,4,5,6 
print(t) # 결과값 (1, 2, 3, 4, 5, 6)

#집합으로 만들어주는 방법 
s = set((1,2,3,4,5,6))
print(s) # {1, 2, 3, 4, 5, 6}

l1 = ['Life', 'is', 'too', 'short']
#        0     1       2      3

print(l1[2])
t1 = ('Life', 'is', 'too', 'short')
print(t1[2])
print(l1[2:2+2])
print(t1[2:2+2])
l1[0] = 'Your leg'
print(l1)
print(t1)
#t1[0] = 'Your leg'
#print(t1[0])
#리스트는 요소의 값을 변경할 수 있지만, 튜플은 요소의 값을 변경할 수 없다
#튜플은 추가, 삭제도 안된다.
#튜플은 파이썬의 상수 (=변하지 않는 값)
#튜플은 indexing만 가능
result = t1.index('too')
print(result) # 2
print(len(t1)) # 4 s

'''
#del t1[0] - 오류
튜플은 indexing, slicing, index(), len() 함수만 사용가능하다
#리터널도 상수
값이 바뀌지 않는 것을 사용하기 위해 튜플 사용
'''
print()

(1, 2, 3, 4, 5, 6)
{1, 2, 3, 4, 5, 6}
too
too
['too', 'short']
('too', 'short')
['Your leg', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
2
4

In [251]:
str2 = "hello"
l2 = [1,2,3,3,4,5,3]
t2 = (1,2,3,3,4,5,3)
print(str2.count("1"))
-- 미완료

0

In [266]:
l1 = ['Life', 'is', 'too', 'short']
t1 = ('Life', 'is', 'too', 'short') #('Life', 'is', 'too', 'short')
t1 = 'Life', 'is', 'too', 'short' #('Life', 'is', 'too', 'short')
print(t1)

print(l1[0]) # life 문자열 
print(l1[0] + l1[1]) #문자열 life + 문자열 is // Lifeis
print(t1[0]) #문자열 life
print(t1[0] + t1[1]) #문자열 + 문자열 // Lifeis
print(l1[0:1])#slicing - 리스트는 리스트로 출력 // ['Life']
print(t1[0:1]) #slicing - 튜플은 튜플로 출력 // ('Life',) #최우선연산자와 구별위해 콤마
#print(l1[0:1] + l[2]) #리스트 + 문자열 ???
print(l1[0:1] + l1[2:2+1]) #리스트 + 리스트
#print(t1[0:1] + t1[2]) 튜플 + 문자열
print(t1[0:1] + t1[2:2+1]) #('Life', 'too')
print(t1[0:2] * 2)  # ('Life', 'is', 'Life', 'is')

('Life', 'is', 'too', 'short')
Life
Lifeis
Life
Lifeis
['Life']
('Life',)
['Life', 'too']
('Life', 'too')
('Life', 'is', 'Life', 'is')

In [291]:
#형변화 : inst, str, list, tuple

str3 = "hello"
l3 = list(str3)
print(l3) # ['h', 'e', 'l', 'l', 'o']
t3 = tuple(str3)
print(t3) #('h', 'e', 'l', 'l', 'o')
print(t3) #('h', 'e', 'l', 'l', 'o')
l3 = list(t3)
print(t3) #('h', 'e', 'l', 'l', 'o')

#
t3 = tuple(l3)
print(l3) #['h', 'e', 'l', 'l', 'o']

str4 = str(l3)
print(str4) #['h', 'e', 'l', 'l', 'o']
#문자열인지 확인하는 방법 문자를 연산해본다. print(str4 + 이숭무)
str4 = "".join(l3)
print(str4) #결과값 hello
str4 = "".join(t3)
print(t3) #('h', 'e', 'l', 'l', 'o')

l1 = ['Life', 'is', 'too', 'short']
str4 = "".join(l1)
print(str4) # Lifeistooshort
str4 = " ".join(l1)
print(str4) #Life is too short
str4 = ":".join(l1)
print(str4) #Life:is:too:short

#str() 문자열 변환함수는 리스트나 튜플에서는 자체가 모두 문자열로 변환이 된다
#리스트나 튜플 안에 있는 요소들은 문장으로  붙여서 출력하려면, "".join을 사용한다.

str3 = "hello"
str4 =":".join(str3)
print(str4) # 결과값 h:e:l:l:o 문자 사이 사이에 콜론이 들어가게 됨 
l1 = ['Life', 'is', 'too', 'short']
print(" ".join(l1)) #Life is too short

#str() 숫자를 문자열로 바꾸기
#int() 문자열을 숫자로 바꾸기
print("jerry" + str(10)) # jerry10
print(10+int("20")) #30

# 세미 콜론은 명령문을 한 줄로 작성하기 위해서 사용
i = 10 ; print(i) # 10

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
hello
('h', 'e', 'l', 'l', 'o')
Lifeistooshort
Life is too short
Life:is:too:short
h:e:l:l:o
Life is too short
jerry10
30
10

In [297]:
'''
    리터널(상수) : 자연수, 자연어
    리스트 : []
    튜플 : (,)
    딕셔너리 : {"단어": "내용",...} 중괄호
             : {"키" : "값",...} : json, map
'''
print()

l = [] #빈 리스트
t = () #빈 튜플
dic = {} #빈 딕셔너리
dic = {1 : "jerry" , 2: "tom", 3: "dooley"}
l4 = [1,2,3,4]
#     0 1 2 3 
print(l4[2]) #3
print(dic[2]) #tom // 딕셔너리는 인덱스를 사용하지 않는다
dic = {"name": "jerry","age" : 5, "height" : 5}
print(dic["name"]) #딕셔너리는 값을 가져올 때 키를 사용한다

3
tom
jerry

In [308]:
print("jerry의 나이는 5살 이고 키는 3cm 입니다")
#리터널 변수 사용
name = "jerry"
age = "5"
height = 3

#f문자 포매팅 사용해서 출력하세요
print(f"{name}의 나이는 {age}살 이고 키는 {height}cm 입니다")

#리스트 사용
l4 = ["jerry", 5 , 3]
print(f"{l4[0]}의 나이는 {l4[1]}살 이고 키는 {l4[2]}cm 입니다")

d = {'name' : 'jerry', 'age' : 5, 'height' : 3}
print(d['name'])
print(f"{d['name']}의 나이는 {d['age']}살 이고 키는 {d['height']}cm 입니다")

jerry의 나이는 5살 이고 키는 3cm 입니다
jerry의 나이는 5살 이고 키는 3cm 입니다
jerry의 나이는 5살 이고 키는 3cm 입니다
jerry
jerry의 나이는 5살 이고 키는 3cm 입니다

In [317]:
l = [1,2,3,4]
print(l) #[1, 2, 3, 4]
l[1] = 10; #???
print(1)
dic = {'name' : 'jerry', 2 : 5, 'height' : 3}
print(dic[2]) # 5
 
#나이를 50으로 바꾼다
dic[2] = 50
print(dic) # {'name': 'jerry', 2: 50, 'height': 3}
#l[4] = 20; #IndexError: list assignment index out of range
dic["addr"] = "용산"
print(dic) #

# (중요)딕셔너리는 키가 있으면, 수정이 되고, 키가 없으면 추가가 된다
# 딕셔너리는 키로 구분하므로 키의 중복을 허용하지 않는다
dic = {1 : "j" , 1: "e", 1: "r"}
print(dic[1]) # r  // 키가 중복된 경우, 마지막 값을 갖는다
dic = {1: "j"}
dic[1] = "r"
print(dic[1]) # 결과값 r 

dic = {1 : "j" , 1: "e", 2: "r"}
print(dic[1]) #결과값 e

[1, 2, 3, 4]
1
5
{'name': 'jerry', 2: 50, 'height': 3}
{'name': 'jerry', 2: 50, 'height': 3, 'addr': '용산'}
r
r
e

In [341]:
# 딕셔너리 함수
dic1 = {'name' : 'jerry', 'age' : 5, 'height' : 3}
print(dic1['name'][1]) # 결과값 e
#결과가 문자열이기 때문에 문자열에 대한 인덱싱이 가능해 e 라는 값이 출력이 된 것 

print(dic1['name']) #키를 이용해서 값을 가져오기

#get() 함숨를 이용해서 값을 출력 →
# print(dic1.get((['name'])) : 오류 _IncompleteInputError: incomplete input
# print(dic1['addr']) # 없는 키로 인해 오류KeyError: 'addr' 
print(dic1.get('addr')) #None 으로 출력 #키가 없으면 발생하는 오류를 막기 위해서 
print(dic1.get('addr','서울')) # 키가 있으면 키 값으로 출력, 키가 없으면 서울로 출력
print(dic1.get('name','홍길동')) #키가 있으면 jerry 로 출력되나, 키가 없으면 홍길동으로 출력
print(dic1.get('age', 0)) # 키가 있으면 5로 출력되나, 키가 없으면 0으로 출력

dic1 = {'classic' : 500, 'pop' : 700, 'jazz' : 900}
dic2 = {'classic' : 500, 'pop' : 700}
#print(dic1['jazz'] + dic['jazz']) -- dic2에 jazz가 없어 오류
print(dic1.get('jazz', 0 ) + dic2.get('jazz',0)) #900 // 오류 없이 계산 완료
print(dic1.get('classic', 0) + dic2.get('classic',0)) #1000
print(dic1.get('pop', 0) + dic2.get('pop',0)) #1400

e
jerry
None
서울
jerry
5
900
1000
1400

In [350]:
#요소 삭제 
d = {'name' : 'jerry', 'age' : 5, 'height' : 3}
l = [1,2,3,4] #del, remove, pop, clear
#    0 1 2 3
#리스트에서 index를 이용해서 2를 삭제하시오
del l[1]
print(l) #[1, 3, 4]

del d['age']
print(d) # {'name': 'jerry', 'height': 3}

#slicing을 이용해서 원하는 부분 삭제 가능
del l[:]
print(l) #[]

l.clear()
d.clear()
print(d) #{}

d = {'name' : 'jerry', 'age' : 5, 'height' : 3}
result = d.pop('name')
print(result)
print(d)

#딕셔너리는 삭제 : clear, pop(키), clear

[1, 3, 4]
{'name': 'jerry', 'height': 3}
[]
{}
jerry
{'age': 5, 'height': 3}

In [354]:
# 딕셔너리에 있는 키를 가져오기
d = {'name' : 'jerry', 'age' : 5, 'height' : 3}
print(d.keys()) # dict_keys(['name', 'age', 'height'])

# 딕셔너리에 있는 값을 가져오기
print(d.values()) # dict_values(['jerry', 5, 3])

# 키와 값을 튜플로 가져오기
print(d.items())

dict_keys(['name', 'age', 'height'])
dict_values(['jerry', 5, 3])
dict_items([('name', 'jerry'), ('age', 5), ('height', 3)])

In [360]:
# 자연수 리터널
# 자연어 리터널
# 리스트
# 튜플
# 딕셔너리 : {} #빈 딕셔너리, {"키" : "값",...}
# 집합 : {1,2,3,4,5} : 값을 갖고 있어야만 집합 (무조건 1나 이상의 값)

s = {1,2,3,4,5}
print(s) # {1, 2, 3, 4, 5}

#리스트에 있는 값을 함수로 만들기
s = set([1,2,3,4,5])
print(s) # {1, 2, 3, 4, 5}

#튜플에 있는 값을 함수로 만들기
s = ((1,2,3,4,5))
print(s) # (1, 2, 3, 4, 5)

#집합은 중복값을 허용하지 않는다
s= {1,2,2,3,3,4,5,5,5} 
print(s) # {1, 2, 3, 4, 5}

str1 = "hello"
#문자열을 집합으로 만들겠다
s= set(str1)
print(s) # {'e', 'o', 'h', 'l'} (중요) 집합은 순서를 갖지 않는다

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'e', 'o', 'h', 'l'}

In [397]:
#합집합, 교집합, 차집합 (집합 2개 이상) 
s1 = {1,2,3,4}
s2 = {3,4,5,6}

#합집합
print(s1.union(s2)) # {1, 2, 3, 4, 5, 6}
print(s1 | s2) #파이프 표시로 쉽게 출력 // shift + won 표시 | = 파이프 라고 함
      
#교집합
print(s1.intersection(s2)) #{3, 4}
print(s1 & s2)

#차집합
print(s1.difference(s2)) #{1, 2}
print(s1 - s2)
print(s2.difference(s1)) #{5, 6}
print(s2 - s1)

#여집합 (꺽쇄 모양)
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}
{1, 2, 5, 6}

In [383]:
l = [1,2,3,4,5]
#리스트요소 추가하기
l.append (6)
print(l) # [1, 2, 3, 4, 5, 6]
s1 = {1,2,3,4}
s1.add(5)
print(s1) #{1, 2, 3, 4, 5}

#집합에 문자열 추가
s1.add('apple')
print(s1) #{1, 2, 3, 4, 5, 'apple'}

s1.add((6,7,8,9))
print(s1) #{1, 2, 3, 4, 5, (6, 7, 8, 9), 'apple'} -- 6,7,8,9 요소로 삽입됨

#한 번에 여러개 요소 추가 : 튜플, 리스트인자로 사용하여 추가한다 
s1.update((6,7,8,9)) #튜플인자 사용
print(s1) #{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 'apple'}

s1.update([10,11,12]) #리스트인자 사용
print(s1)

#집합에서 요소 하나 삭제하기
#집합은 index가 없기 때문에 del을 사용할 수 없음
s1.remove(10)
print(s1) # {1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 'apple', 11, 12}
# result = s1.pop('apple')  #TypeError: set.pop() takes no arguments (1 given)
result = s1.pop()
print(result)
s1.clear()
print(s1) #set()

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'apple'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 'apple'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 'apple'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 10, 'apple', 11, 12}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 'apple', 11, 12}
1
set()

In [388]:
# 리터널
# 리스트
# 튜플
# 딕셔너리
# 집합
# 부울 자료형 : True / Fallse
i = 10 ; #1,....
b = True #부울타입은 변수와 차별을 두기 위해 첫글자가 대문자
b = False
print(b) #False
true = 10 #정수형 변수
b = true
print(b) # 10

b = "true" #문자열
print(b) # true #부울타입은 변수와 차별을 두기 위해 첫글자가 대문자

False
10
true

In [403]:
# 부울 타입을 사용하는 때
# 논리연산
print( True and True )
print( False and False )
b1 = True
b2 = True
print( b1 and b2 ) # 둘 다 참일 때 and
print( b1 or b2 )  # 하나라도 참일 때 or
# 부울 타입의 결과를 가져오는 연산자는 비교(관계)연산자
# 크다 < , 작다 > , 크거나 같다 <=, 작거나 같다 >=, 같지 않다 != , 같다 == (대입과 구별하기 위해)
a = 10
b = 20 
c = 30
d = 15
print(a > b) # 부울 타입 결과 False
print(c <= d) 
print(a > b and c <= d) #부울 타입 결과 False
# 논리연산을 하는 경우에는 비교연산자와 같이 사용. 부울 타입인 결과값을 갖고 오기 위해
#하나의 연산만 하는 경우
print(10+1*2)
print("pine"+"apple")

#문제1. 합격하기 위해서는 모든 과목이 40점이상이고, 평균이 60점 이상이어야 한다
mat = 40
eng = 80
#논리연산은 True 또는 False를 이용한 연산 : and , or
#True와 False인 부울타입인 결과를 얻기 위해서 사용되는 비교연산
result = mat>= 40 and eng>=40 and (mat+eng) / 2 >=60
print(result) #True

#문제2. 4년마다 한번씩 윤년이지만 100년마다는 윤년이 아니라고 한다. 그렇지만 400년(4와 100의 공약수) 마다는 윤년이다. 그렇다면 2100년은 윤년인가? 평년인가?
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result) #False
#and를 하게 되면, year % 4 == 0 과 동일한 얘기이므로 or를 사용하여야 한다

if  year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print ("윤년")
else:
    print("평년")

True
False
True
True
False
False
False
12
pineapple
True
False
평년

In [424]:
# 변환함수 : int(), str(), float(),list(), tuple(), set()
# bool() : 모든 데이터를 부울타입으로 형변환
print(bool("jerry")) # 모든 문자열은 True로 변환
print(bool("")) # blank는 False로 변환
print(bool(1)) # 숫자는 True로 변환
print(bool(-100)) # 음수도 True로 변환
print(bool(0)) # 0은 False로 변환 # 0 이 아닌 모든 숫자는 True
print(bool([1,2,3])) #리스트는 True
print(bool([])) # 빈 리스트는 False
print(bool((1,2,3))) # 튜풀은 True
print(bool(())) #빈 튜풀은 False
print(bool({"apple"})) # 딕셔너리는 True
print(bool({})) # 빈 딕셔너리 False
print(bool(None)) # False

if "jerry":
    print("참")
else:
    print("거짓")

True
False
True
True
False
True
False
True
False
True
False
False
참

In [435]:
#변수가 가지고 있는 자료형을 확인 함수 type()
i = 10
f = 109.5
str1 = "apple"
l = [1,2,3,4] 
t = (1,2,3,4)
s = {1,2,3,4}
d = {1:"j"}

print(type(i)) # <class 'int'>
print(type(f)) # <class 'float'>
print(type(str1)) # <class 'str'>
print(type(l)) # <class 'list'>
print(type(t)) # <class 'tuple'>
print(type(s)) # <class 'set'>
print(type(d)) # <class 'dict'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [445]:
#변수를 만드는 여러가지 방법

#방법1. 
i = 10
j = 20

#방법2.
i, j, k = 10, 20 , 30
print (i,j,k) #10 20 30

i, j, k = (10, 20 , 30)
print(i,j,k) #10 20 30

(i, j, k) = (10, 20 , 30)
print(i, j, k) #10 20 30

(i, j, k) = 10,20,30
print(i, j, k) #10 20 30

i, j, k = [10, 20 , 30]
print(i,j,k)

[i, j, k] = [10, 20 , 30]
print(i, j, k)

[i, j, k] = (10, 20 , 30)
print(i, j, k)

(i, j, k) = [10,20,30]
print(i, j, k)

a, b, c = 10 , 2.0, "jerry"
print(a,b,c)

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 2.0 jerry

In [448]:
#값 서로 교환하기
a = 10
b = 20
temp = a;
a =  b
b = temp
print(a,b) #a = 20 b = 10

a, b = b, a #값을 서로 바꾸기 -- 파이썬 방식 (추천)
print(a,b) #10 20

20 10
10 20

In [453]:
l1 = [10,20,30]
l2 = l1
print(l1)
print(l2)
l2[1] = 200 #리스트일 경우에는 = 을 사용하지 말자
print(l2)
print(l1) #한 개만 바뀌어도 다같이 바뀜

l2 = l1[:] #리스트일 경우에는 [:] 으로 값 추가해주기
print(l2)
l2[1] = 20
print(l2)
print(l1) # l1은 여기서 값이 바뀌지 않았음 [10, 200, 30]

[10, 20, 30]
[10, 20, 30]
[10, 200, 30]
[10, 200, 30]
[10, 200, 30]
[10, 20, 30]
[10, 200, 30]