In [2]:
str1 = "Life is too short"
str2 = str1.split()
print(str2) # ['Life', 'is', 'too', 'short'] : 리스트

['Life', 'is', 'too', 'short']

In [5]:
i = 10; # 정수리터널 변수
f = 10.5 # 실수형 리터널 변수
s = "이숭무" #문자열형 리터널 변수
l = [1,2,3,4] # 리스트 변수
print(i)
print(l)

10
[1, 2, 3, 4]

In [6]:
# 리스트자료형 형식
l = [] # 빈 리스트
l = [1,2,3,4,5] # 정수 리스트
l = [10.5,2.5,3.8] # 실수 리스트
l = ['a','b','c','이숭무'] #문자열 리스트
l = [10, "이숭무", 10.5] #혼합형 리스트
l = [10, "이숭무", 10.5, [1,2,3]] # 리스트를 포함한 혼합형 리스트
l = [[1,2,3,4],[5,6,7]] # 리스트를 포함 리스트

In [14]:
str1 = "Life is too short"
#       0123456789  :index
#              1
#       76543210987654321 -
print(str1[3])
l = str1.split()
print(l) # ['Life', 'is', 'too', 'short']
#              0      1      2       3  : 요소가 가지고 있는 고유의 번호 :index
#              4      3      2       1  -
print(l[1]) # 'is'
print(l[-3])
l = ['Life', 'is', 'too', 'short', 10]
#      0       1      2      3      4
#                          01234
str3 = l[1]
print(str3) # is : 문자열
i = l[4]
print(i) # 4 : 정수
str3 = l[3]
print(str3)    # short  :문자열
#                01234
print(str3[3]) # r
print(l[3][3])

print(l[3][3])

e
['Life', 'is', 'too', 'short']
is
is
is
10
short
r
r
r

In [21]:
l = [1, 2, 'Life', 'is', [3,4,5], 'too', [1], 0.5, 'short', "10"]
#    0  1     2      3      4       5     6    7      8       9
print(l[0]) # 정수
print(l[1]) # 정수
# 정수 + 정수 : 10 + 20
print(l[0] + l[1]) 
print(l[2]) # 문자열
print(l[3]) # 문자열
# 문자열 + 문자열 : 연결 연산자
print(l[2] + l[3]) 
print(l[4]) # 리스트
# 문자열 * 정수 : 반복연산자
print(l[2] * l[1])
print(l[9]) # "10" : 문자열
#print(l[9] + 10)
print(int(l[9]) + 10)
print(l[9] + str(10))
# l[2] 에 있는 f를 출력
print(l[2][2]) # l[2] :"Life" => l[2][2] : f

1
2
3
Life
is
Lifeis
[3, 4, 5]
LifeLife
10
20
1010
f

In [27]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#              0     1    2
#  - 4  3  2         1  
#            - 3     2    1
print(a[3])
print(a[3][1])
print(a[-1])
print(a[-1][-2])
print(a[3][-2])
print(a[-1][1])

['a', 'b', 'c']
b
['a', 'b', 'c']
b
b
b

In [31]:
a = [1, 2, 3, ['a', 'b', ['life', 'is']]]
#    0  1  2             3
#               0    1          2
#                            0      1
print(a[3]) # ['a', 'b', ['life', 'is']]
#               0    1         2
print(a[3][2]) # ['life', 'is']
#                   0      1
print(a[3][2][0]) # 'life'
#                    0123
print(a[3][2][0][2])
print(a[3][2][0][1])
# 리스트 indexing

['a', 'b', ['life', 'is']]
['life', 'is']
life
f
i

In [46]:
# slicing
str1 = "Life is too short"
#       01234...
print(str1[0:4]) 
print(str1[0:0+4])
l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
#    0  1    2       3...
print(l[0:4])
print(l[0: 0 + 4])
print(l[0: 0+ 2])
print(l[0:1])  # [1]: 리스트 slicing의 결과는 리스트가 된다.
print(l[0]) # 1 : 리스트 indexing의 결과 요소의 자료형
print(l[0:0]) # [] : 빈 리스트
print(l[4]) # [3, 4, 5] 
#              0  1  2
print(l[4][0:2])
#################################################
print(l[2]) # Life
print(l[2: 2 + 1]) #['Life']
print(l[2: 2 + 0])  # [] 빈리스트
print(l[3:3])

Life
Life
[1, 2, 'Life', 'is']
[1, 2, 'Life', 'is']
[1, 2]
[1]
1
[]
[3, 4, 5]
[3, 4]
Life
['Life']
[]
[]

In [66]:
# 리스트 연산자  : +(연결연산자), *(반복연산자)
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1 + l2)
print(l1 * 3 )
print(l)
print(l[4] + l[6]) # +:연결연산자
print(l[4] * l[1]) # 리스트 * 정수
#print(l[2:2 + 1] + l[3] ) # 리스트 + 문자열(l[3] : "is")
print(l[2:2 + 1] + list(l[3])) # list(l[3]) : ["i","s"] # 리스트 + 리스트
print(l[2] + l[3]) # 문자열 + 문자열
print("hello")
print(list("hello")) # ['h', 'e', 'l', 'l', 'o']
# print(list(l[0]) + l[4]) # list(정수) + 리스트
# list()리스트로 변환하는 변환 함수 : 정수를 리스트로 변환 할 수 없음.
print(l[0:1] + l[4])
print(l[4] * l[1]) # 리스트 * 정수
print([l[0]] + l[4])
l4 = [1,2,3,4]
print(l4)
print([1,2,3,4])
print([1])
print([l[0]])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '10']
[3, 4, 5, 1]
[3, 4, 5, 3, 4, 5]
['Life', 'i', 's']
Lifeis
hello
['h', 'e', 'l', 'l', 'o']
[1, 3, 4, 5]
[3, 4, 5, 3, 4, 5]
[1, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1]
[1]

In [79]:
str1 = "Life is too short"
result = ['Life', 'is', 'too', 'short']
print(str1[::2])
print(result[::2])
print(str1[::-1])
print(result[::-1])
print(str1[:])
print(result[:])
print(str1[0:3])
print(str1[:3])
print(result[0:3])
print(result[:3])
print(str1[1:17])
print(str1[1:])
print(str1[1:len(str1)])
print(result[2 : 2 + 2]) # ['Life', 'is', 'too', 'short'] : start :2 , end : 4
                         #     0      1      2      3 
print(result[2:])
print(result[2:len(result)])

Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
Life is too short
['Life', 'is', 'too', 'short']
Lif
Lif
['Life', 'is', 'too']
['Life', 'is', 'too']
ife is too short
ife is too short
ife is too short
['too', 'short']
['too', 'short']
['too', 'short']

In [87]:
str1 = "Lyfe is too short"
# Life  :  "Your leg"
str2 = str1.replace("Lyfe",  "Life")
# str1[1] = 'i'
print(str2)
result = ['Lyfe', 'is', 'too', 'short']
result[0] = 'Life' #  요소변경
print(result)
print(len(str1))
print(len(result))

Life is too short
['Life', 'is', 'too', 'short']
17
4

In [103]:
# 리스트 함수
# 리스트에 요소 추가 
#append()
l1 = ['Life', 'is']
# l1 에 'too' 추가
print(l1 + ['too'])
print(l1)
l2 = l1 + ['too']
print(l2)
l1.append('too') 
print(l1)
print(l1.append('short')) # 마지막 요소 추가
print(l1)
l1 = ['Life', 'short']
#       0        1
print(l1)
# 중간에 삽입 : insert
# 'is'
l1.insert(1, 'is')
print(l1) # ['Life', 'is', 'short']
l1.insert(2, 'too')
print(l1)
# 확장 : extend
l1.append([1,2,3])
print(l1)
a = [1,2,3,4]
b = [5,6,7]
#[1,2,3,4,5,6,7]
a.extend(b)
print(a)
#  추가 :  append, insert , extend

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too']
None
['Life', 'is', 'too', 'short']
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', [1, 2, 3]]
[1, 2, 3, 4, 5, 6, 7]

In [116]:
#요소 삭제
l2 = ['Life', 'is', 'too', 'short']
#        0     1      2       3
# index를 이용해서 요소 삭제 : del
del l2[1]
print(l2) # ['Life', 'too', 'short']
#              0       1      2
del l2[2]
print(l2) # ['Life', 'too']
# 요소를 이용해서 삭제 : remove
l2 = ['Life', 'is', 'too', 'short']
l2.remove('is')
print(l2)
l2.remove('too')
print(l2)
# 전체 삭제 : clear
l2.clear()
print(l2)
### 삭제한 값을 받아오기 : pop
l2 = ['Life', 'is', 'too', 'short']
result = l2.remove('is') 
print(result)# None
print(l2) # ['Life', 'too', 'short']
#              0       1        2
result = l2.pop() # 마지막 요소를 지우고 지운값을 반환
print(result)
print(l2)
l2 = ['Life', 'is', 'too', 'short']
#        0      1      2      3
result = l2.pop(1)
print(result)
result = l2.pop(0)
print(result)

['Life', 'too', 'short']
['Life', 'too']
['Life', 'too', 'short']
['Life', 'short']
[]
None
['Life', 'too', 'short']
short
['Life', 'too']
is
Life

In [198]:
import random # 난수값 : 0 ~ 3
l2 = ['Life', 'is', 'too', 'short']
idx = random.randint(0, len(l2) - 1) 
# idx = random.randint(0, 3) # 0, 1 , 2, 3 
print(idx)
result = l2.pop(idx)
print(result)
print(l2)
idx = random.randint(1, 45)
print(idx)

1
is
['Life', 'too', 'short']
9

In [205]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
# 오름차순
l.sort() #[1, 2, 3, 4, 5]
print(l)
#내림차순
l = [4,2,5,1,3]
l.sort(reverse=True)

print(l)
l = ['b','a','c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l = ['다','가','나']
l.sort()
print(l)
l = ['b','a','c', '다','가','나']
l.sort()
print(l)
'''
l = ['b','a','c', '다','가','나',3,1,2] #문자열 , 숫자
l.sort()
print(l)
'''
print()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']

In [210]:
str1 = "Life is too short"
idx = str1.find("too") #'too'의 첫번째 글자인 t의 index를 찾는다.
print(idx)
idx = str1.index("too") 
print(idx)
l1 = ['Life', 'is', 'too', 'short']
idx = l1.index('too') # 요소의 위치
print(idx)
# idx = l1.find('too') # find는 리스트에서 사용할 수 없다.
# print(idx)

## indexing, slicing
## 리스트 추가함수 : append, insert, extend
## 리트스 삭제함수 : del, remove, pop , clear
## 리스트 정렬 : sort()
## 리스트의 검색 : index

8
8
2

In [221]:
# 리터널 : 자연수 : 정수 리터널 : 10
#                  실수 리터널 : 10.5
#         자연어 리터널 : " ",' ',""" """,''' '''
# 리스트 : []
# 튜플 : ()
l = [1,2,3,4]
print(l)
t = (1,2,3,4)
print(t)
l = [] # 빈리스트
t = () # 빈튜플
print(t)
print( (3 + 5) * 4) # ():최우선연산자
print((2)) # ():최우선연산자
print((2,)) # 튜플
print((1,2)) # (1, 2) 
print(1,2,3,4,5,6) # 집합 : set
print((3 + 2,)) # (5,)
t = (3 + 2,)
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)
()
32
2
(2,)
(1, 2)
1 2 3 4 5 6
(5,)

In [239]:
t = () # 빈 튜플
t = (1,2,3,4,5)# 정수 튜플
t = (10.5,2.5,3.8) # 실수 튜플
t = ('a','b','c','이숭무') #문자열 튜플
t = (10, "이숭무", 10.5) #혼합형 튜플
t = (10, "이숭무", 10.5, [1,2,3]) # 리스트를 포함한 혼합형 튜플
t = (10, "이숭무", 10.5, (1,2,3)) # 튜플을 포함한 혼합형 튜플
t = ([1,2,3,4],[5,6,7]) # 리스트를 포함 튜플
t = ([1,2,3,4],(5,6,7)) #튜플과 리스트를 포함한 튜플
t = 1,2,3,4,5,6 # 소괄호 없이 초기화된 변수는 튜플이다.
print(t)
# 튜플은 리스트와 같다
l1 = ['Life', 'is', 'too', 'short']
#       0       1      2      3
print(l1[2])
t1 = ('Life', 'is', 'too', 'short')
print(t1[2])
print(l1[2:2+2])
print(t1[2:2+2])
l1[0] = 'Your leg'
print(l1)
print(t1)
#t1[0] = "Your leg"
#print(t1[0])
# 리스트는 요소의 값을 변경할 수 있지만 튜플은 요소값을 변경할 수 없다
# 추가, 삭제 도 안된다.  튜플은 파이썬의 상수
result = t1.index('too')
print(result)
print(len(t1))
print(t1[0])
#del t1[0]
# indexing, slicing , index(), len(), count()

(1, 2, 3, 4, 5, 6)
too
too
['too', 'short']
('too', 'short')
['Your leg', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
2
4
Life
0
0

In [244]:
print(l1.count(3))
print(t1.count(3))
print(1,2,3,4,5,6)
t = 1,2,3,4,5,6
print(t)
t = 1,2,3,4,5

0
0
1 2 3 4 5 6
(1, 2, 3, 4, 5, 6)
['Your leg', 'is', 'too', 'short']

In [259]:
str2 = "hello"
l2 = [1,2,3,3,4,5,3]
t2 = (1,2,3,3,4,5,3)
print(str2.count("l"))
print(l2.count(3))
print(t2.count(3))

2
3
3

In [272]:
l1 = ['Life', 'is', 'too', 'short']
t1 = ('Life', 'is', 'too', 'short')
t1 = 'Life', 'is', 'too', 'short'
print(t1)
print(l1[0]) # 문자열
print(l1[0] + l1[1]) # 문자열 + 문자열
print(t1[0]) # 문자열
print(t1[0] + t1[1]) # 문자열 + 문자열
print(l1[0:1]) # ['Life']
print(t1[0:1]) # ('Life',)
#print(l1[0:1] + l[2]) # 리스트 + 문자열
print(l1[0:1] + l1[2:2+1]) #리스트 + 리스트
# print(t1[0:1] + t1[2]) # 튜플 + 문자열
print(t1[0:1] + t1[2:2+1])
print(t1[0:2] * 2)

('Life', 'is', 'too', 'short')
Life
Lifeis
Life
Lifeis
['Life']
('Life',)
['Life', 'too']
('Life', 'too')
('Life', 'is', 'Life', 'is')

In [281]:
# 형변환 : int, str, list, tuple
str3 = "hello"
l3 = list(str3)
print(l3)
t3 = tuple(str3)
print(t3) 
l3 = list(t3)
print(l3)
t3 = tuple(l3)
print(l3)
str4 = str(l3)
print(str4 + "이숭무") # "['h', 'e', 'l', 'l', 'o']"
str4 = "".join(l3)
print(str4)
str4 = "".join(t3)
l1 = ['Life', 'is', 'too', 'short']
str4 = "".join(l1)
print(str4)
str4 = " ".join(l1)
print(str4)
str4 = ":".join(l1)
print(str4)
# str()문자열 변환함수는  리스트나 튜플에서는 자체가 모두 문자열로 변환이된다.
# 리스트나 튜플안에 있는 요소를 문장으로 출력하기 위해 "".join()을 사용한다.
str3 = "hello"
str4 = ":".join(str3)
print(str4)
l1 = ['Life', 'is', 'too', 'short']
print(" ".join(l1))

print("이숭무 " + str(10));
print(10 + int("20"));
i = 10 ; print(i)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']이숭무
hello
Lifeistooshort
Life is too short
Life:is:too:short
h:e:l:l:o
Life is too short
이숭무 10
30
10

In [284]:
'''
 리터널(상수) : 자연수 : 정수 리터널, 실수 리터널
               자연어 : 문자열 리터널 : " ", ' ', ''' ''', """ """
 리스트 : []
 튜플   : (,)
 딕셔너리(사전) : {"단어": "내용",...} 
                 {"키" : "값",...} 
               : json , map
'''
l = [] # 빈리스트
t = () # 빈튜플
dic = {} # 빈 딕셔너리
dic = {1 : "이숭무", 2:"이상범", 3:"이장범" }
# 딕셔너리에서는 index를 사용하지 않는다.
l4 = [1, 2, 3, 4]
#     0  1  2  3
print(l4[2])
print(dic[2]) # 키를 사용해서 출력
dic = {"name" : "이숭무" , "age" : 30, "height" : 175.5}
print(dic["name"])
# 딕셔너리에서는 값을 가져올 때는 키를 사용한다.

3
이상범
이숭무

In [287]:
print("이숭무의 나이는 30살이고 키는 175.5입니다")
name = "이숭무"
age = 30
height = 173.5
#f문자 포매팅 사용해서 출력하세요.
print(f"{name}의 나이는 {age}살이고 키는 {height}입니다")
l4 = ["이숭무", 30, 175.3]
print(f"{l4[0]}의 나이는 {l4[1]}살이고 키는 {l4[2]}입니다")
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
print(d['name'])
print(f"{d['name']}의 나이는 {d['age']}살이고 키는 {d['height']}입니다")

이숭무의 나이는 30살이고 키는 175.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다
이숭무의 나이는 30살이고 키는 175.3입니다
이숭무
이숭무의 나이는 30살이고 키는 170.5입니다

In [296]:
l = [1,2,3,4]
#    0 1 2 3
print(l)
l[1] = 10;
print(l)
dic = {'name': '이숭무', 2 : 30, 'height': 175.5}
print(dic[2])
dic[2] = 50
print(dic)
#l[4] = 20; # IndexError: list assignment index out of range
dic["addr"] = "성남"
print(dic)
# 딕셔너리는 키가 있으면 수정이 되고 키가 없으면 추가가 된다.
# 딕셔너리는 키로 구별하므로 키의 중복을 허용하지 않는다.
dic = {1: "이", 1:"숭", 1:"무", 2:"박"}
print(dic[1])  # 키가 중복된 경우 마지막 값을 갖는다.
dic = {1:"이"} 
dic[1] = "숭"
print(dic[1])

[1, 2, 3, 4]
[1, 10, 3, 4]
30
{'name': '이숭무', 2: 50, 'height': 175.5}
{'name': '이숭무', 2: 50, 'height': 175.5, 'addr': '성남'}
무
숭

In [309]:
#딕셔너리 함수
dic1 = {'name': '이숭무', 'age': 30, 'height': 170.5}
print(dic1['name'][1]) # 문자열
print(dic1['name']) #키를 이용해서 값을 출력
print(dic1.get('name')) # get()를 이용해서 값을 출력
# print(dic1['addr']) # KeyError: 'addr' 
print(dic1.get('addr')) # None # 오류 발생을 막기 위해서
print(dic1.get('addr', '서울'))
#키가 있으면 value , 키가 없으면 기본값('홍길동')이 출력 
print(dic1.get('name','홍길동'))
#키가 있으면 value , 키가 없으면 기본값(0)이 출력
print(dic1.get('age' , 0))

dic1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
dic2 = {'classic':500, 'pop' : 700 }
#print(dic1['jazz'] + dic2['jazz'] )
print(dic1['classic'] + dic2['classic'] )

print(dic1.get('jazz', 0) + dic2.get('jazz',0)) # 900+0
print(dic1.get('classic', 0) + dic2.get('classic',0))
print(dic1.get('pop', 0) + dic2.get('pop',0))

숭
이숭무
이숭무
None
서울
이숭무
30
1000
900
1000
1400

In [315]:
# 요소 삭제
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
l = [1,2,3,4] # del , remove, pop
# 리스트에서 index를 이용해서 2를 삭제하시오
del l[1]
print(l)
del d['age']
print(d)
del l[:]
print(l)
l.clear()
d.clear()
print(d)
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
result = d.pop('name')
print(result)
print(d)
#딕셔너리 삭제 : clear, pop(키) , del

[1, 3, 4]
{'name': '이숭무', 'height': 170.5}
[]
{}
이숭무
{'age': 30, 'height': 170.5}

In [319]:
# 딕셔너리에 있는 키를 가져오기
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
print(d.keys())
# 딕셔너리에 있는 값를 가져오기
print(d.values())
# 키와 값을 튜플로 가져오기
print(d.items())

dict_keys(['name', 'age', 'height'])
dict_values(['이숭무', 30, 170.5])
dict_items([('name', '이숭무'), ('age', 30), ('height', 170.5)])

In [324]:
# 정수 , 실수 , 문자열 리터널
# 리스트
# 튜플
# 딕셔너리 : {} 빈딕셔너리, {"키":"값",...}
# 집합 : {1,2,3,4,5} # {1} # 집합은 적어도 값을 하나 이상 가져야 한다.
s = {1,2,3,4,5}
print(s)
s = set([1,2,3,4,5])
print(s)
s = set((1,2,3,4,5))
print(s)
s = {1,2,2,3,4,5,5} # 집합은 중복값을 허용하지 않는다.
print(s)
str1 = "hello"
s = set(str1) # 집합은 순서를 갖지 않는다.
print(s) # {'e', 'l', 'h', 'o'}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'e', 'l', 'h', 'o'}

In [328]:
# 합집합 , 교집합 , 차집합
s1 = {1,2,3,4}
s2 = {3,4,5,6}
#합집합
print(s1.union(s2))
print(s1 | s2)
#교집합
print(s1.intersection(s2))
print(s1 & s2)
#차집합
print(s1.difference(s2))
print(s1 - s2)
print(s2.difference(s1))
print(s2 - s1)
# 여집합
s = {1,2,3,4}
a = {1,2,3,5,6}
result = s^a 
print(result)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [343]:
l = [1,2,3,4,5]
# 리스트요소 추가하기 
l.append(6)
print(l)
s1 = {1, 2, 3, 4}
s1.add(5)
print(s1)
s1.add('a')
print(s1)
s1.add((6,7,8,9))
print(s1) # {1, 2, 3, 4, 5, (6, 7, 8, 9), 'a'}
# 한번에 여러개의 요소 추가 : 리스트 , 튜플을 인자로 사용
s1.update((6,7,8,9))
print(s1)
s1.update([10,11,12])
print(s1)
# 하나 삭제
s1.remove(10)
print(s1) # {1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9,'a'}
result = s1.pop()
print(result)
s1.clear()
print(s1) # set()

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'a'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 'a'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 'a'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 10, 11, 12, 'a'}
{1, 2, 3, 4, 5, (6, 7, 8, 9), 6, 7, 8, 9, 11, 12, 'a'}
1
set()

In [346]:
# 리스트, 튜플, 딕셔너리, 집합
# 부울 자료형 :True / False
i = 10 ; #1,.....
b = True # 부울타입은 첫글자가 대문자
b = False
print(b)
true = 10 # 정수형변수
b = true
print(b)
b = "true" # 문자열

False
10

In [356]:
# 부울 타입을 사용하는 때
# 논리연산
print( True and True )
print( True or False)
b1 = True
b2 = True
b3 = False
print( b1 and b2 )
print( b1 or b3)
# 부울타입의 결과를 가져오는 연산자는 비교(관계)연산자
# < , >, <= ,>=, != , ==
a = 10
b = 20
c = 30
d = 15
print(a > b) # 부울타입
print(c <= d)
print( a > b and c <= d)
#논리연산을 하는 경우에는 비교연산자와 같이 사용
print(10 + 1 * 2)
print("이" + "숭")
# 합격하기 위해서는 모든과목이 40점이상이고 평균이 60이상이어야 한다.
mat = 40
eng = 80
# 논리연산은 True나 False를 이용한 연산 : and , or
# 부울타입인 결과를 얻기 위해서 사용되는 연산은 비교얀산이다.
result = mat >= 40 and eng >= 40 and (mat + eng) / 2 >= 60
# 4년마다 한번씩 윤년이지만 100년마다는 윤년이 아니라고 한다. 그렇지만 400년마다는
# 윤년이다. 그렇다면 2400년은 윤년인가? 평년인가?
# 3월 8일 점심 타이틀 : 오직 두분
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result)
if result:
    print("윤년")
else:
    print("평년")

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

True
True
True
True
False
False
False
12
이숭
False

In [362]:
# int(), str(), float(), list(), tuple(), set() , 
# bool() :  모든 데이터를 부울타입으로 형변환
print(bool("이숭무")) # 모든 문자열은 True
print(bool("")) # blank : False
print(bool(100))  # True
print(bool(-100)) # True # 0이아닌 모든 숫자는 True이다.
print(bool(0)) #False 
print(bool([1,2,3])) # True
print(bool([])) # False
print(bool((1,2,3))) # True
print(bool(())) # False
print(bool({1:"이"})) #True
print(bool({})) #False
print(bool(None)) #False
if "이숭무":
    print("참")

True
False
True
True
False
True
False
True
False
True
False
False

In [365]:
# 변수가 가지고 있는 자료형을 확인
i = 10
f = 109.5
str1 = "apple"
l = [1,2,3,4]
t = (1,2,3,4)
s = {1,2,3,4}
d = {1:"이"}
print(type(i)) #<class 'int'>
print(type(f)) # <class 'float'>
print(type(str1)) # <class 'str'>
print(type(l)) # <class 'list'>
print(type(t))# <class 'tuple'>
print(type(d))# <class 'dict'>
print(type(s))# <class 'set'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [371]:
#변수를 만드는 여러 가지 방법
i = 10
j = 20
i, j, k = 10,20,30
print(i, j, k)
i, j, k = (10,20,30)
print(i, j, k)
(i, j, k) = (10,20,30)
print(i, j, k)
(i, j, k) =  10,20,30 
print(i, j, k)
i, j, k = [10,20,30]
print(i, j, k)
[i, j, k] = [10,20,30]
print(i, j, k)
[i, j, k] = (10,20,30)
print(i, j, k)
(i, j, k) = [10,20,30]
print(i, j, k)
a ,b ,c = 10, 2.0, '이숭무'
print(a,b,c)

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 2.0 이숭무

In [374]:
# 값 서로 교환하기
a = 10
b = 20

temp = a;
a = b
b = temp
print(a, b) # 20 ,10

a , b = b , a
print(a, b) # 10, 20

20 10
10 20

In [381]:
l1 = [10, 20, 30]
l2 = l1
print(l1)
print(l2)
l2[1] = 200
print(l2)
print(l1)
l2 = l1[:]
print(l2)
l2[1] = 20
print(l2)
print(l1)

[10, 20, 30]
[10, 20, 30]
[10, 200, 30]
[10, 200, 30]
[10, 200, 30]
[10, 20, 30]
[10, 200, 30]
[10, 200, 30]