In [9]:
pip install jupyter  #설치
pip uninstall jupyter #삭제

juoyter notbook # 실행  또는 juoyter-notbook

9

In [12]:
# 파이썬은 행단위 언어이다.
print(3 + 3)
print(3 * 3)
print(3 + 3); print(3 * 3)

6
9
6
9

In [14]:
a = 10
'''
# 파이썬 기본 자료형
# 리터널 : 숫자(자연수) : 정수 : 10, 54 , 5
#                      : 실수 : 10.1, 20.5
#         문자(자연어) : 한국어, 영어, 프랑스어 : 가 , apple
'''
a = 10 # a는 변수 :  값을 저장하기 위한 문자 : 등호에서 왼쪽에 있는 문자.
print(a)
print(10 + a)

10
20

In [16]:
print(a)
a = 20
print(a)
# 순차적 프로그래밍 언어
# 변수는 오로지 하나의 값만 저장한다.

10
20

In [20]:
j = 10 # 변수는 초기값을 가져야 한다.
print(j)

10

In [ ]:
i = 10 # i라는 변수는 정수리터널값을 저장
i = 10.1 # i라는 변수는 실수리터널을 저장

In [32]:
# 자연수 리터널이 사용하는 연산자 : + , - , * , / , %, // , **
i = 10
j = 20
print(i + j)
print(i - j)
print(i * j)
print(i / j)
# 나머지 
print(10 % 3)
#  몫
print(10 // 3)
k = 3
print(i // k)
# 제곱승
print(10 ** 3)

이숭무 = 10
print(이숭무)
이숭무 = j # j가 가진 값을 이숭무라는 변수에 대입
print(이숭무)

30
-10
200
0.5
1
3
3
1000
10
20

In [41]:
# 자연어 리터널 : 문자열 : "이숭무" , '이숭무' : "" ,''
str1 = 이숭무
print(str1)
str1 = "이숭무"
print(str1)
str1 = '이숭무'
print(str1)
i = 10 # 숫자 리터널
str1 = "10" #  문자열 리터널
#print(10 + str1) #TypeError: unsupported operand type(s) for +: 'int' and 'str'
print(type(i))
print(type(str1))
i = 10
print(i)
i = 10.1
print(i)
i = "이숭무"
print(i)

20
이숭무
이숭무
<class 'int'>
<class 'str'>
10
10.1
이숭무

In [46]:
# 변수명은 문자이어야 한다.
#2 = 10
a = "b"
#1이 = 10
이2 = 100
print( 이2 )

100

In [56]:
# 문자리터널 연산자 : + , *
print(10 + 10) # 덧셈연산
head = "python "
tail = " is fun"
print(head + tail) # 연결연산자 
#print(head + 3)
head = "python"
tail = "is fun"
print(head + " " + tail) # 이항연산자 : 항은 문자이어야 한다.
print(head * 3) # 반복연산자 # 이항연산자 : 1항은 문자이고 2항은 숫자
print("===" * 30)
print("파이썬은 너무 재밌어요")
print("===" * 30)

20
python  is fun
python is fun
pythonpythonpython
==========================================================================================
파이썬은 너무 재밌어요
==========================================================================================

In [70]:
str1 = "Life is too short,\n You need Python"
print(str1)
str1 = 'Life is too short,\n You need Python'
print(str1)
str1 = 'Life\'s too short,\n You need Python'
print(str1)
str1 = "Life's too short,\n You need Python"
print(str1)
str1 = "Life is too short,\n \"You need\" Python"
print(str1)
str1 = 'Life is too short,\n "You need" Python'
print(str1)

Life is too short,
 You need Python
Life is too short,
 You need Python
Life's too short,
 You need Python
Life's too short,
 You need Python
Life is too short,
 "You need" Python
Life is too short,
 "You need" Python

In [72]:
str1 = '''Life is too short, 
"You need" Python'''
print(str1)
str1 = """Life's too short, 
You need Python"""
print(str1)
# 문자열을 표기하는 방법 : " ",' ',""" """, ''' '''

Life is too short,
"You need" Python
Life's too short,
You need Python

In [75]:
str1 = "Life is too short, You need Python"
print(str1)
#  문자열의 갯수
print(len(str1))
str1 = "이숭무"
print(len(str1))

Life is too short, You need Python
34
3

In [88]:
# 문자열 indexing : index란 문자가 가지고 있는 위치를 나타내는 고유의 번호 
# 문자의 시작은 0번부터 시작한다.
str1 = "Life is too short, You need Python"
#                 1         2         3
#       0123456789012345678901234567890123
# 마지막 index는 크기보다 1작다.
print(str1)
print(str1[8])
print(str1[0])
print(str1[19])
print(str1[33])
print(str1[34-1])
print(len(str1))
print(str1[len(str1)-1])
str1 = "Life is too short"
print("Life is too short"[len(str1)-1])

Life is too short, You need Python
t
L
Y
n
n
34
n
t

In [101]:
str1 = "Life is too short"
#                 1
#       01234567890123456
#              1
#      -76543210987654321   
print(str1[0]) # 문자리터널
print(str1[-17])
print(str1[-len(str1)])
print(str1[-1])
print(str1[16])
print(len(str1)) # 정수리터널
print(str1[len(str1)-1])

L
L
L
t
t
17
t
117

In [109]:
str1 = "Life is too short"
#                 1
#       01234567890123456
print("Life")
print(str1[0] + str1[1] + str1[2] + str1[3])

Life
Life

In [120]:
#slicing :  문자열 자르기
str1 = "Life is too short"
#                 1
#       01234567890123456
print(str1[0:4]) # start : 0 , end : 4
print(str1[0 : 0 + 4])
print(str1[12:17])
print(str1[12 : 12 + 5])
wordCount = int(input("숫자를 입력하세요."))
print(10 + wordCount)
print(str1[3 : 3 + wordCount])

Life
Life
short
short

숫자를 입력하세요. 10

20
e is too s

In [130]:
str1 = "Life is too short"
#                 1
#       01234567890123456
#              1
#      -76543210987654321 
print("Life")
print(str1[0:0+4])
print(str1[:4])
print(str1[12:17])
print(str1[12:len(str1)])
print(str1[12:])
print(str1[:])
print("Life")
print(str1[0:4])
print(str1[0:-13])
print(str1[-17:4])
print(str1[-17:-13])

Life
Life
Life
short
short
short
Life is too short
Life
Life
Life
Life
Life

In [131]:
# 날짜(년,월,일)와 이름을 분리하여 출력
a = "20010331Rainy"
print( a[:4]    + "년")
print( a[4:4+2]     + "월")
print( a[6:6+2]     + "일")
print("이름은 " + a[8:] + "입니다")

2001년
03월
31일
이름은 Rainy입니다

In [157]:
str1 = "Life is too short"
#                 1
#       01234567890123456
# 하나 건너서 출력
print(str1[0:4])
print(str1[0:4:2])
print(str1[::2])
#reverse
print(str1[::-1])
# 2번부터 13번까지 하나 건너서 출력
print(str1[2:14:2])
# 13번부터 2번까지 reverse
print(str1[13:1:-1])
# 13번부터 1번까지 reverse
print(str1[13::-1])
print(str1[13::-1][::2])
# 13번부터 1번까지 한글자씩 reverse
print(str1[13::-1][::2])
print(str1[13::-2])
print(str1[13::-3])
# 2번부터 13번까지 두글자씩 건너서 출력
print(str1[2:14:3])

Life
Lf
Lf stosot
trohs oot si efiL
f stos
hs oot si ef
hs oot si efiL
h o iei
ho  i
fit

In [147]:
str1="pithon"  # 문자열인 경우 하나의 문자만 변경할 수 없다.
print(str1[1])
#str1[1] = "y"
print(str1[0] +"y" + str1[2:])

i
python

In [164]:
# 포맷문자열 포매팅 : 
# 포맷문자 : %s:string:문자열 , %d:10진정수 : deciaml , %f:실수 :float , %c:문자 :charecter
'나의 이름은 이숭무이고 나이는 20살입니다.'
age = int(input("숫자를입력해주세요."))
print('나의 이름은 이숭무이고 나이는 '+ str(age)+'살입니다.')
print("나의 이름은 이숭무이고 나이는 %d살입니다." % age)
name = input("이름을 입력하세요.")
print('나의 이름은 %s이고 나이는 %d살입니다.' % (name, age))
str2 = '나의 이름은 %s이고 나이는 %d살입니다.' % (name, age)
print(str2)

숫자를입력해주세요. 20

나의 이름은 이숭무이고 나이는 20살입니다.
나의 이름은 이숭무이고 나이는 20살입니다.

이름을 입력하세요. 이숭무

나의 이름은 이숭무이고 나이는 20살입니다.
나의 이름은 이숭무이고 나이는 20살입니다.

In [165]:
'이숭무의 계좌번호는 1111이고 잔액은 100입니다.'
name='이상범'
account = '2222'
money=1000
result = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(result)

이상범의 계좌번호는 2222이고 잔액은 1000입니다.

In [174]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
name='이상범'
age = 20
height = 173.55
result = "%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %6.2f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %10.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %1.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height)
print(result)

이상범의 나이는 20살이고 키는 173.550000입니다
이상범의 나이는 20살이고 키는 173.55입니다
이상범의 나이는 20살이고 키는 173.6입니다
이상범의 나이는 20살이고 키는      173.6입니다
이상범의 나이는 20살이고 키는 173.6입니다
이상범의 나이는 20살이고 키는 173.6입니다
이상범의 나이는 20살이고 키는 173.55입니다

In [182]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬 
result = "%10s의 나이는 %10d살이고 키는 %10.2f입니다" % (name, age, height)
print(result)
result = "%-10s의 나이는 %-10d살이고 키는 %-10.2f입니다" % (name, age, height)
print(result)
result = "%-10s의 나이는 %-10d살이고 키는 %-10.2f입니다" % ("이숭무", age, height)
print(result)

       이상범의 나이는         20살이고 키는     173.55입니다
이상범       의 나이는 20        살이고 키는 173.55    입니다
이숭무       의 나이는 20        살이고 키는 173.55    입니다

In [185]:
# format 함수를 사용한 포매팅
# 변수 : a i, j, str1
# 함수 : print(), int(), str(), format()
print('%s의 나이는 %d살이고 키는 %f입니다' % (name, age, height) )
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format( age, name, height))
#                                                 0    1      2
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format( age, "이숭무", height))
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format( age, name, 175.25))

이상범의 나이는 20살이고 키는 173.550000입니다
이상범의 나이는 20살이고 키는 173.55입니다
이숭무의 나이는 20살이고 키는 173.55입니다
이상범의 나이는 20살이고 키는 175.25입니다

In [189]:
# format함수에 이름으로 넣기
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format( age, name, 175.25))
print('{1}의 나이는 {0}살이고 키는 {f}입니다'.format( age, name, f=175.25))
print('{n}의 나이는 {0}살이고 키는 {f}입니다'.format( age, n=name, f=175.25))
# positional argument follows keyword argument
#print('{n}의 나이는 {0}살이고 키는 {2}입니다'.format( age, n=name, 175.25))
#print('{1}의 나이는 {a}살이고 키는 {f}입니다'.format( a=age, name, f=175.25))
# 이름은 뒤에서 부터 순차적으로 붙여준다.                                                    0    n

SyntaxError: positional argument follows keyword argument (1020503931.py, line 5)

In [201]:
#format함수를 이용한 정렬 : 왼쪽 정렬 : < , 오른쪽 정렬 : > 
print('%10s의 나이는 %10d살이고 키는 %10.1f입니다' % (name, age, height) )
print('{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다'.format( age, name, 175.25))
# 문자는 왼쪽 숫자 오른쪽
print('{1:>10}의 나이는 {0:<10}살이고 키는 {2:<10}입니다'.format( age, name, 175.25))
print('{1:^10}의 나이는 {0:^10}살이고 키는 {2:^10}입니다'.format( age, name, 175.25))
print('{1:-^10}의 나이는 {0:!^10}살이고 키는 {2:*^10}입니다'.format( age, name, 175.25))
#print('{이상범}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format( age, 175.25))
print('{{이상범}}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format( age, 175.25))
print('{{2}}의 나이는 {0:!^10}살이고 키는 {1:*^10}입니다'.format( age, 175.25, name))

       이상범의 나이는         20살이고 키는      173.6입니다
이상범       의 나이는         20살이고 키는     175.25입니다
       이상범의 나이는 20        살이고 키는 175.25    입니다
   이상범    의 나이는     20    살이고 키는   175.25  입니다
---이상범----의 나이는 !!!!20!!!!살이고 키는 **175.25**입니다
{이상범}의 나이는 !!!!20!!!!살이고 키는 **175.25**입니다
{2}의 나이는 !!!!20!!!!살이고 키는 **175.25**입니다

In [210]:
#f 문자열 포매팅
name="이장범"
age = 20
height=173.6
'이장범은 나이가 20이고 키는 173.6입니다.'
print('%s은 나이가 %d이고 키는 %f입니다.' % (name, age, height)) #포맷문자열 포매팅
print('{0}은 나이가 {1}이고 키는 {2:.3f}입니다.'.format(name, age, height))
print(f'{name}은 나이가 {age}이고 키는 {height}입니다.')
result = f'{name}은 나이가 {age}이고 키는 {height:.3f}입니다.'
print(result)

이장범은 나이가 20이고 키는 173.600000입니다.
이장범은 나이가 20이고 키는 173.600입니다.
이장범은 나이가 20이고 키는 173.6입니다.
이장범은 나이가 20이고 키는 173.600입니다.

In [211]:
# 문자열 가공 : 문자열 함수
str1 = "Life is too short" # indexing,  slicing
print(len(str1))
print(len("Life is too short"))
# 특정문자의 갯수
print(str1.count('s'))
print("Life is too short".count('s'))

17
17
2

In [218]:
# "too"라는 글자 출력
idx = str1.index("too")
str2 = "too"
print(idx)
print(str1[idx:idx+3])
print(str1[idx:idx+len(str2)])
print(str1[str1.index("too"):str1.index("too")+len(str2)])
idx = str1.index("t")
print(idx)

8
too
too
too
8

In [225]:
##str1에서 첫번째 i가 있는 문자부터 10글자
print(str1)
idx = str1.index("i")
result = str1[idx: idx+10]
print(result)
### 두번째 i부터 10글자
idx = str1.index("i",2);
print(idx)
idx = str1.index("i",str1.index("i") + 1);
print(idx)

Life is too short
ife is too
5
5

In [233]:
str1 = "Lite is too short, You need python"
# 3번째 t의 index가져오기
idx = str1.index('t')# t의 cjt번째 index 
print(idx) # 2
idx1 = str1.index('t',idx+1) # t의 두번째 index (2+1)
print(idx1) # 8
idx2 = str1.index('t',idx1+1) # t의 세번째 index (8 + 1)
print(idx2)
print("===" * 30)

print( str1.index('t', str1.index('t',str1.index('t') + 1) + 1) )

2
8
16
==========================================================================================
16

In [237]:
#마지막에 있는 't'
idx = str1.rindex('t')
print(idx)
#마지막에 있는 't'에서 3글자
print(str1[idx : idx + 3])

30
tho

In [247]:
#find : index처럼 문자열의 index를 가져온다.
print(str1)
idx = str1.find("i")
print(idx)
idx = str1.rfind("i")
print(idx) 
#print(str1.index('zoo')) #substring not found
print(str1.find('zoo')) # -1
'''
if str1.find('zoo') == -1:
    print("없는 문자열입니다.")
else:
    print(str1)
'''
print()

Lite is too short, You need python
1
5
-1

In [252]:
print(str1)
#  모두 대문자
print(str1.upper())
#  모두 소문자
print(str1.lower())
print(str1)

Lite is too short, You need python
LITE IS TOO SHORT, YOU NEED PYTHON
lite is too short, you need python
Lite is too short, You need python

In [263]:
str1 = "    highland0    "
print(str1)
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())
str1 = "abhighland0ab"
print(str1.strip("ab"))
print(str1.rstrip("ab")) #right
print(str1.lstrip("ab")) #left
str1 = "    high    lan   d   0    "
print(str1.strip())
#중간에 있는 공백문자는 정상적인 데이터이다.

    highland0
highland0
highland0
    highland0
highland0
abhighland0
highland0ab
high    lan   d   0

In [267]:
### # 문자열 대체하기
str1 = "pithon"
str2 = str1.replace('i', 'y')
print(str1)
print(str2)
str1 = "Life is too short" #"Life" : "Your leg"
str2 = str1.replace("Life","Your leg")
print(str2)
print(str1)

pithon
python
Your leg is too short
Life is too short

In [270]:
# 쪼개기 : split : 결과는 리스트가 된다.
print(str1)
l = str1.split()
print(l)
str2 = "Life:is:too:short"
l = str2.split(":")
print(l) # ['Life', 'is', 'too', 'short'] :  리스트

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']